@font-face {
    font-family: Orbitron-Black;
    src: url("Orbitron-Black.ttf");
}

@font-face {
    font-family: Orbitron-Regular;
    src: url("Orbitron-Regular.ttf");
}

:root {
    --white: white;
    --black: #272727;
    --blacksoft: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo_header_img {
    transition: 0.5s;
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 45px;
    box-shadow: 1px 1px 4px 1px rgb(62, 65, 69);
}

.nav_header {
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
    height: 10vh;
    color: var(--white);
}

#rodape,
.header {
    transition: 1s;
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
    height: 10vh;
    color: var(--white);
}

body {
    background-color: lightgray;
    font-family: Orbitron-Regular;
}

.nav_header a {
    text-decoration: none;
    color: var(--white);
    font-family: Orbitron-Black;
}

.nav_header a:hover {
    padding: 2px;
    color: lightgray;
    transition: 1s;
}

.nav_header {
    gap: 2em;
}

footer {
    font-family: Orbitron-Black;
    background-color: var(--white);
}

footer img,
footer a {
    height: 25px;
    gap: 10em;
}

.content {
    display: flex;
    flex-direction: column;
}

.register {
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#background {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 1;
}

.content.loaded #background {
    opacity: 1;
}

#background img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 720px;
}

#rodape {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    padding: 0% 10%;
    height: 10vh;
    transition: background-color 0.5s;
}

.cards-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    margin: 0 auto; 
    position: relative;
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale();
    border-radius: 5%;
    transition: transform 0.3s ease;
}

.card-content {
    flex: 1;
    position: absolute; 
    top: 0;
    width: 100%; 
    padding: 1px;
    color: white; 
    text-align: right; 
    width: 50%;
}

.card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 50px;
}

.card-image:hover {
    transform: scale(1.1);
}

.intro-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    padding-bottom: 350px;
}

.intro-card {
    flex: 1 1 calc(33.33% - 10px);
    background-color: #ffffff00;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.intro-card:hover {
    transform: translateY(-5px);
}

.intro-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.intro-card p {
    font-size: 14px;
    color: #666;
}

.separador {
    width: 50%;
    margin: 0 auto; 
    border: none; 
    border-bottom: 1px solid rgb(62, 65, 69); 
    margin-bottom: 20px; 
}


#intro2{
    padding-top: 5%;
}

#img1{
    width: 50%;
    filter: grayscale();
    margin-top: 50px;
    border-radius: 10%;
}

#img2{
    width: 50%;
    filter: grayscale();
    margin-top: 50px;
    border-radius: 10%;
}

#img3{
    width: 50%;
    filter: grayscale();
    margin-top: 50px;
    border-radius: 10%;
}
